body {
  width: 100%;
  max-width: 100%;
  font-family: "SF Pro Display", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

main {
  background-image: url(../img/images/grid.svg);
  background-repeat: repeat-y;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
}

textarea,
input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Arial", sans-serif;
  color: @red;
  font-weight: 400;
  line-height: 1.25;
}

h1,
h2,
.title {
  font-size: 32px;
  letter-spacing: -0.3px;
}
