.position {
  position: relative;
  margin-bottom: 240px;
  
  &::before {
    content: "";
    position: absolute;
    top: -32px;
    bottom: -32px;
    right: 0;
    width: ~"calc(50% - 608px)";
    background-image: url(../img/images/flowers-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  &--left {
    margin-bottom: 144px;
    
    &::before {
      left: 0;
      right: auto;
      top: 96px;
      bottom: 32px;
    }
    .position__img::before {
      left: -32px;
      right: 0;
    }
  }
  
  &--bg {
    margin-bottom: 96px;
    
    &::before {
      display: none;
    }
  }
  
  &--long {
    &::before {
      top: 0;
      bottom: 0;
    }
  }
}

.position__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position__img {
  width: 592px;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 32px;
    bottom: 32px;
    left: 0;
    right: -32px;
    background-color: #fafafa;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.position__info {
  width: 592px;
  padding-left: 72px;
  padding-right: 72px;
}

.position__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.position__item {
  width: 200px;
  
  p {
    margin-bottom: 8px;
    font-family: "Georgia", "Arial", sans-serif;
    color: @red;
    font-weight: 400;
  }
  address {
    font-size: 10px;
    font-style: normal;
    line-height: 1.6;
  }
}

.position__map {
  background-image: url(../img/images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  iframe {
    display: block;
    border: 0;
    width: 100%;
    height: 528px;
  }
}
