.slogan {
  margin-bottom: 64px;
  padding-top: 76px;
  background-image: url(../img/images/pattern.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 164px 76px;
}

.slogan__wrap {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
